*.py[cod]
*.so
*.egg
*.egg-info
*.iml
*.map
.idea
.idea/
logs/
node_modules/
workspace.xml

management/management/static/

.DS_Store
management/.DS_Store

.sass-cache
db.sqlite3

local_settings.py

management/management/utils/const/local_constant.py

*/__pycache__/*.pyc

management/media/

management/apps/course/configs/

__pycache__/

*.pyc

management/logs/

management/static/

logfile

uwsgi_log

nohup.out

management/temp_pdf

management/frontend/node_modules
management/frontend/.tmp
management/frontend/build
management/frontend/src/assets/icon/dist
management/frontend/tmp
management/management/templates
management/log/*
