<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1">
  <title></title>
<link href="/static/vue/common/vendors.06bf9c.css?06bf9c4a0f4381b75b21" rel="stylesheet"><link href="/static/vue/templates/user/charge.06bf9c.css?06bf9c4a0f4381b75b21" rel="stylesheet"></head>
<body>

<div id="app"></div>
<script type="text/javascript" src="/static/vue/common/vendors.06bf9c.js?06bf9c4a0f4381b75b21"></script><script type="text/javascript" src="/static/vue/templates/user/charge.06bf9c.js?06bf9c4a0f4381b75b21"></script></body>
</html>
